body{
    background-image: url(https://media.gscs.ca/media/Default/pgg/2013/school-registration.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    background-attachment: fixed;
}



